<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error accurred!</h1>
    <p>were working on fixing this, sorry for the inconveniece!</p>

<%- include('includes/end.ejs') %>